body
{
	padding: 0px;
	margin: 0px;
	background-color: rgb(255, 255, 255);
}

.backgroun
{
	position: fixed;
	top: 150px;
	z-index: -99;
	height: 85%;
	width: 100%;
}

a:link{	color: rgb(255, 255, 255); }

a:visited {color: rgb(255, 255, 255);}

a { text-decoration: none; }

ul { list-style-type: none; }

div.header1
{
	height: 150px;
	width: 100%;
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	background-color: rgb(50, 50, 50);
}

div.header1 p
{
	padding-left: 30px;
	font-size: 48px;
	color: rgb(255,255,255);	
}

[class^="box"]
{
	position: relative;
	clear: both;
	font-family: Verdana;
	font-size: 18px;
	border: solid;
	height: 90px;
	width: 200px;
	font-color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 255);
	left: 20px;
}

div.box1
{
	top: 10px;
}

div.box2
{
	top: 20px;
}

div.box3
{
	top: 30px;
}

div.box4
{
	top: 40px;
}

[class^="box"] p
{
	color: rgb(255, 255, 255);
	position: relative; 
	text-align: center;
	top: 20px;
}

[class^="box"]:hover
{
	color: red;
}

div.facebook
{
	width: 100px;
	height: 100px;
	position: relative;
	top: 50px;
	left: 40px;
	background: 
}

[class^="dropdown"]
{
	position: relative;
	border: solid black;
	background-color: rgb(0, 0, 200);
	color: rgb(255, 255, 255);
	font-size: 16px;
	display: none;
	left: 225px;
}

.dropdown1
{
	height: 150px;
	width: 300px;
	bottom: 624px;
}

.box1:hover ~ div.dropdown1
{
	display: block;
}

.dropdown1:hover
{
	display: block;
}

.dropdown2
{
	height: 150px;
	width: 300px;
	bottom: 518px;
}

.box2:hover ~ div.dropdown2
{
	display: block;
}

.dropdown2:hover
{
	display: block;
}

.dropdown3
{
	height: 150px;
	width: 300px;
	bottom: 412px;
}

.box3:hover ~ div.dropdown3
{
	display: block;
}

.dropdown3:hover
{
	display: block;
}

#topbar
{
	height: 150px;
	width: 58.35%;
	position: relative;
	bottom: 634px;
	left: 800px;
	background-color: blue;
	margin: 0px;
	padding: 0px;
}

.themainbodystuff
{
	position: absolute;
	top: 200px;
	left: 250px;
	height: 700px;
	width: 1200px;
	border-color: rgb(0, 0, 0);
	border-width: 2px;
	border-style: solid;
	z-index: -1;
}

div strong
{
	font-size: 28px;
}